.FIE_topbar-save-menu {
  @apply flex flex-col gap-0 text-xs border shadow-2xl py-2;
}

.FIE_topbar-save-menu-item {
  @apply text-xs hover:bg-gray-200;
}

.FIE_topbar-save-menu-item > span:first-child {
  @apply w-4 h-4;
}

#chai-image-editor-container > button {
  @apply opacity-0;
}

body {
  pointer-events: auto !important;
}
