html,
body {
  font-family:
    "Geist",
    "Geist Fallback",
    Arial,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol !important;
  pointer-events: auto !important;
}

#chai-image-editor-container > button {
  display: none !important;
}
