.sheet-hide-close-btn > button {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important; /* Safari and Chrome */
}

[role="treeitem"]:focus-visible {
  outline: 0 !important;
}

.rjsf {
  padding-left: 0px;
  padding-right: 0px;
}
.rjsf input[type="color"] {
  margin-top: 0.25rem;
  width: 1.5rem;
  border-width: 0px;
  padding: 0px;
}
.rjsf .form-group {
  display: flex;
  flex-direction: column;
}

.rjsf .form-group label {
  color: hsl(var(--muted-foreground));
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}
.rjsf .form-group select {
  border-color: hsl(var(--border));
  background-color: hsl(var(--background));
  margin-top: 0.25rem;
  display: flex;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.rjsf .form-group select::placeholder {
  color: hsl(var(--muted-foreground));
}
.rjsf .form-group select:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px hsl(var(--ring));
}
.rjsf .form-group select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rjsf .form-group input {
  border-color: hsl(var(--border));
  background-color: hsl(var(--background));
  margin-top: 0.25rem;
  display: flex;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.rjsf .form-group input::placeholder {
  color: hsl(var(--muted-foreground));
}
.rjsf .form-group input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px hsl(var(--ring));
}
.rjsf .form-group input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rjsf .form-group input[type="file"] {
  border-width: 0px;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.rjsf .form-group > textarea {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  border-color: hsl(var(--border));
  background-color: hsl(var(--background));
  margin-top: 0.25rem;
  display: flex;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.rjsf .form-group > textarea::-webkit-scrollbar {
  display: none !important;
}
.rjsf .form-group > textarea::placeholder {
  color: hsl(var(--muted-foreground));
}
.rjsf .form-group > textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px hsl(var(--ring));
}
.rjsf .form-group > textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rjsf > div > button[type="submit"] {
  display: none;
}

.rjsf > .form-group > fieldset > * {
  border-color: hsl(var(--border));
  margin-bottom: 0.5rem;
  border-style: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rjsf .form-group > .checkbox > label > span {
  margin-top: 0.25rem;
}

.rjsf .form-group > .checkbox > label {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.array-item-list .array-item {
  position: relative;
  border-radius: 0.25rem;
  border-width: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

.field-array > legend {
  display: none;
}

.field-object > fieldset > legend {
  display: none;
}

.field-object > fieldset > * + * {
  margin-top: 0.25rem;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  border-color: hsl(var(--border)) !important;
  box-shadow: 0 0 0 1px transparent !important;
  outline: none !important;
}

.rjsf [type="checkbox"] {
  width: 1.5rem !important;
  padding: 0px !important;
}

.rjsf [type="checkbox"]:checked {
  background-color: hsl(var(--primary));
}

/* ------------------------ Props Editor ------------------------ */

.array-item-list > :not([hidden]) ~ :not([hidden]) {
  margin-top: 15px;
}

.array-item-toolbox > .btn-group {
  border-color: hsl(var(--border));
  position: absolute;
  right: 0px;
  bottom: -0.625rem;
  z-index: 50;
  border-radius: 0.25rem;
  border-width: 1px;
}

.array-item-toolbox > .btn-group > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  --tw-divide-opacity: 1;
}

.array-item-toolbox > .btn-group {
  /* border-radius: 0.25rem;
  border-width: 1px; */
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  font-family:
    ui-serif,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
}

.array-item-toolbox > .btn-group > .btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  line-height: 1rem;
}

.array-item-toolbox > .btn-group > .btn:hover {
  background-color: rgb(241 245 249);
}

.btn.btn-danger.array-item-remove:before {
  font-size: 0.6rem;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  --tw-content: "✖";
  content: var(--tw-content);
}

.btn.btn-default.array-item-move-up:before {
  --tw-text-opacity: 1;
  --tw-content: "↑";
}

.btn.btn-default.array-item-move-down:before,
.btn.btn-default.array-item-move-up:before {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  color: rgb(17 24 39 / var(--tw-text-opacity));
  content: var(--tw-content);
}

.btn.btn-default.array-item-move-down:before {
  --tw-text-opacity: 1;
  --tw-content: "↓";
}

/* Color picker */
.react-colorful {
  height: 120px !important;
  width: 180px !important;
}
.react-colorful > div {
  margin-bottom: 4px;
}
.react-colorful__saturation {
  border-radius: 4px !important;
}
.react-colorful__hue,
.react-colorful__alpha {
  height: 12px !important;
  border-radius: 4px !important;
}
.react-colorful__pointer {
  width: 16px !important;
  height: 16px !important;
  border: 1.5px solid #fff !important;
  cursor: pointer !important;
  z-index: 10002 !important;
}

.ProseMirror {
  min-height: 100px;
  outline: none;
}

.rte h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.rte h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.rte h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.rte h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.rte h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.rte h6 {
  font-size: 0.75rem;
  line-height: 1rem;
}
.rte p:empty {
  height: 1rem;
}
.rte ul {
  list-style-type: disc;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.rte ol {
  list-style-type: decimal;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.rte li > p {
  margin: 0px;
}
.rte blockquote {
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.rte blockquote p {
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
